############################################
# UNITY
############################################

# Carpetas generadas automáticamente por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Archivos de configuración generados por Unity y Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Archivos de cache y binarios
*.pdb
*.mdb
*.opendb
*.apk
*.aab

# Visual Studio Code
.vscode/

# Rider / JetBrains
.idea/
*.sln.iml

# Unity Collaborate y otros
.plastic/
.utmp/
ignore.conf

# Archivos específicos del proyecto (Vuforia)
Packages/com.ptc.vuforia.engine-*.tgz

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

